@media (max-width: 425px)  {
    * {
        box-sizing: border-box;
    }  

.ohmyfood {
    font-family: "Shrikhand";
    display: flex;
    justify-content: center;
}

header {
    font-family: "Roboto";
}

.topbar {
border: 30px;
background-color: #e6e6e6;
display: flex;
justify-content: center;
align-items: center;
font-family: "Roboto";
border-top: 2px solid lightgray;
}

.topbar p {
    padding-right: 40px;
}

.topbar i {
    padding-right: 20px;
    
}

.réservez {
    border: 30px;   
    background-color: rgb(243, 242, 242);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.réservez p {
    color: gray;
}


button {
border-radius: 10rem;
background-color: #FF79DA;
color: white;
font-size: medium;
width: 250px;
height: 60px;
font-weight: bold;
transform: scale(1);
transition: transform 400ms;
&:hover {
    transform: scale(1.15);
    }
}

.Fonctionnement {
    list-style: none;
    font-family: "Roboto";
}

.Fonctionnement .numero {
    border-radius: 30px;
    background-color: #9356DC ;
    color: white;
    padding-right: 10px;
    height: 20px;
    width: 20px;
}

.Fonctionnement i {
padding-left: 10px;
padding-right: 10px;
color: gray;
}

.Fonctionnement p {
    font-weight: bold;
}

.choisissez {
    border-radius: 1em;
    background-color: rgb(243, 240, 240);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.composez {
    border-radius: 1em;
    background-color: rgb(243, 240, 240);
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    
}

.dégustez {
    border-radius: 1em;
    background-color: #efe6fd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dégustez i {
    color: #9356DC;
}


.Restaurants {
    list-style: none;
    font-family: "Roboto";
    background-color: #e6e6e6;
}

.Restaurants img {
    width: 300px;
    height: 180px;
    border-top-right-radius:  30px;
    border-top-left-radius:   30px;
}



.palette {
    border-radius: 30px;
    width: 81%;
    background-color: white;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.palette .nouveau {
    border: solid #99E2D0 ;
    background-color: #99E2D0;
    width: 25%;
    color: #207a64;
    font-weight: bold;  
    
}

.note {
    border-radius: 30px;
    width: 81%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}

.note .nouveau {
    border: solid #99E2D0 ;
    background-color: #99E2D0;
    width: 25%;
    color: #207a64;
    font-weight: bold;
}

.note i {
    color: #9356DC;
}

.française {
    border-radius: 30px;
    width: 81%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}

.délice {
    border-radius: 30px;
    width: 81%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}


Footer {
    border: 30px;
    background-color: rgb(75, 75, 75);
    
}

Footer p {
    color: white;
    font-family: "Roboto";
}

Footer .logo {
    font-family: "Shrikhand";
    color: white;
    padding-top: 15px;
    

}

Footer i {
    color: white;
    padding-right: 10px;
    
}

Footer li {
    list-style: none;
    padding-left: 35px;

}

.proposer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
  
}

.devenir {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



}